h1 {
  color:#414b98;
  font-family: 'VT323', monospace;
}

.center {
  text-align: center;
}
.font-size-30px {
  font-size: 30px;
  font-family: 'VT323', monospace;
}

.padding-halfpx {
  padding: 0.5px;
}

.margin-top {
  margin-top: 5%;
}
 
.currentUsername {
  padding: 0.5px;
}

.margin-left-20px {
  margin-left: 20px;
}

.travel-far-picture {
  width: 500px;
  height: auto;
}
 
.image-20-percent {
  width: 100px;
}

.signup-form, .login-form {
  background-color: #f3fdff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 30px;
  padding: 20% 300px;
  margin: 3% 0%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(to bottom, rgb(143, 190, 255) 25%, rgb(255, 255, 255) 0%);
  margin: 6%;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container-logout-delete {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 5%;
}

.container-left {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
}

.container-right {
  display: flex;
  padding-right: 13%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.split-right { 
  text-align: center;
}

.align-center {
  align-items: center;
  text-align: center;
  justify-content: center;
}
 
 .main-content {
  margin: 5% 7%;
  margin-bottom: 0%;
 }
 
 .center-text-30px {
  font-size: 30px;
  text-align: center;
  font-family: 'VT323', monospace;
 }

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60%;
  border-radius: 5%;
}
 
.navbar {
  overflow: hidden;
  background-color: #b7d4ff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-brand {
  font-family: 'VT323', monospace;
  font-size: 50px;
}

.navbar-nav .nav-link {
  font-family: 'VT323', monospace;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

button {
  display: inline-block;
  padding: 7px 25px;
  border-radius: 100px;
  background-color: hsl(233, 100%, 85%);
  border: none;
}

.button-container {
  margin: 10%;
  display: flex;
  justify-content: space-between;
}

.left-button, .right-button, .play-button {
  height: auto;
  padding: 40px 120px;
  border-radius: 1000px;
  border: none;
  background-color: #b5d7ff;
}


.play-button {
  margin: 5% 5%;
}

.logout-button, .delete-button {
  font-size: 20px;
  height: auto;
  padding: 50px 100px;
  border-radius: 1000px;
  border: none;
}

.logout-button {
  background-color: #939eef;
}

.delete-button {
  background-color: #ff2a2a;
  color: white;
}

.left-button:hover, .right-button:hover, .play-button:hover, .logout-button:hover {
  background-color: #70a8e7;
}

.delete-button:hover {
  background-color: #A52A2A;
}

.align-right {
  text-align: right;
}

.column {
  font-family: 'VT323', monospace;
  font-size: 25px;
  float: left;
  padding: 5px;
  position: relative;
}

.column img {
  width: 20%;
}

.nav-item img {
  width: 10%;
}

.flex-img:hover {
  transform:scale(1.2)
}

.row::after {
  font-family: 'VT323', monospace;
  content: "";
  clear: both;
  display: table;
  width: 30%;
}

.form-group {
  width: 20%;
  border-radius: 10%;
}

#username, #tel, #email, #password, #login-username, #login-password,
#new-username, #new-email, #new-quote  {
  border-radius: 18px;
  border: 2px solid rgb(168, 168, 168);
  padding: 10px 15px; 
  width: 200px;
  height: 15px;    
}

#image-preview-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid #ccc;
}

#image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-label {
  display: inline-block;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #2980b9;
}

#close-btn {
  margin-left: 650px;
}

.bg-pale-blue {
  background-color: #e6f7ff;
}

.image-row {
  display: flex;
  justify-content: space-around; 
  padding: 5%; 
  padding-top: 0%;
}


.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: blueviolet;
}

#game-container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 2px solid #000;
  background-color: #aedffe;
}

.profile-section {
  font-family: 'VT323', monospace;
  font-size: 20px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 15%;
  padding-bottom: 5%;
}

.profile-section img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

ul.no-bullets {
  list-style: none;
  padding: 0;
  text-align: left;
}

.round-box {
  background-color: #939eef;
  padding: 10px 25px;
  border-radius: 100px;
  margin: 10px;
}

#airplane {
  position: absolute;
  width: 60px;
  height: 80px;
  background-image: url('imgs/plane.PNG');
  bottom: 20px;
  background-size: cover;
  transition: left 0.1s ease; 
}

.obstacle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size:contain;
  background-repeat: no-repeat;
  animation: moveObstacle linear infinite;
}

@keyframes moveObstacle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(400px);
  }
}

#score {
  font-size: 24px;
  font-family: 'VT323', monospace;
  text-align: left;
  color: #000;
  margin-right: 300px;
}

#high-score {
  font-size: 24px;
  font-family: 'VT323', monospace;
  text-align: right;
  color: #A52A2A;
}

#loading-container, #delete-container, #update-container, #popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for podium */
.podium {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.crown {
  position: absolute;
  top: -20px; /* Adjust this value to position the crown above the usernames */
  left: 50%; /* Adjust this value to horizontally center the crown */
  transform: translateX(-50%);
  width: 30px; /* Adjust the width of the crown image as needed */
}

.top-player {
  font-family: 'VT323', monospace;
  font-size: 25px;
  width: 30%;
  background-color: #b6e6f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 70px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  text-align: center;
}

/* Styles for leaderboard list */
.leaderboard-list {
  list-style-type: none;
  padding: 0;
}

.leaderboard-list li {
  font-family: 'VT323', monospace;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background-color: #daf2f9;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

#popup-content, #loading-content {
  font-family: 'VT323', monospace;
  background-color: #fff;
  border-radius: 30px;
  padding: 60px;
}

#popup-content-game {
  font-family: 'VT323', monospace;
  background-color: #fff;
  border-radius: 30px;
  padding: 60px;
  text-align: center;
}

#close-btn {
  font-family: 'VT323', monospace;
  margin-left: 85%;
  width: 20px;
}

.hidden {
  visibility: hidden;
}

.image-container {
  padding: 0% 10%;
  position: relative;
}

.image {
  width: 100%;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}


@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .split img {
    width: 100px;
    height: 100px;
  }

  .button-container {
    margin: 5%;
  }

  button {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 100px;
    border: 2px solid rgb(168, 168, 168);
    background-color: #939eef;
  }

  .left-button, .right-button, .play-button {
    height: auto;
    padding: 20px 50px;
    border-radius: 1000px;
    border: none;
    background-color: #b5d7ff;
  }

  .logout-button {
    height: auto;
    padding: 20px 25px;
    border-radius: 1000px;
    border: none;
    background-color: #97b4cd;
  }
  
  .delete-button {
    height: auto;
    padding: 20px 25px;
    border-radius: 1000px;
    border: none;
    background-color: #ff2a2a;
    color: white;
  }

  .login-form, .signup-form, .update-form {
    background-color: #f3fdff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 30px;
    padding: 150px 30px;
    margin: 5%;
  }

  .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgb(143, 190, 255) 30%, rgb(255, 255, 255) 0%);
    margin: 20% 5% 5% 6%;
  }

  .profile-section {
    padding: 5%;
  }

  #popup-content, #loading-content {
    background-color: #fff;
    border-radius: 30px;
    padding: 15% 0%;
  }

  #game-container {
    position: relative;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border: 2px solid #000;
    background-color: #afeaff;
  }

  #airplane {
    position: absolute;
    width: 40px;
    height: 50px;
    background-image: url('imgs/plane.PNG');
    bottom: 20px;
    background-size: cover;
    transition: left 0.1s ease; 
  }

  #score {
    font-size: 24px;
    text-align: left;
    color: #000;
    margin-right: 150px;
  }
  
  .obstacle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    animation: moveObstacle linear infinite;
  }

  .font-size-30px {
    font-size: 15px;
  }

  .top-player {
    font-size: 10px;
    padding: 10px 20px;
  }


}
